@page "/calc-ExchangeRate"
@rendermode InteractiveServer

@inject HttpClient HttpClient
@inject HttpClient Http
@inject GetData1 getdata1
@using System.Net.Http
@using System.Net.Http.Json

@*1. 환율 페이지 형식 만들기
  2. 환율 API 가져오기*@

<style>
    .display-calc {
        width: 300px;
        text-align: right;
        font-size: 64px;
    }

    .button-number {
        height: 120px;
        width: 120px;
        background-color: lightskyblue;
        font-size: 24px;
    }

    .currency-unit{
        width: 50px;
        height: 80px;
        font-size: 60px;
    }

    .explain_currencyvalue{
        width: 300px;
        height: 80px;
        font-size: 100px;
    }
</style>

<PageTitle>Calc_Exchangerate</PageTitle>

<h1> &#x20A9 to $ Exchanger</h1> @*\ to $ Exchanger*@

<label class="display-calc">@this.DisplayValue</label>
<label class="currency-unit">@this.CurrencyUnit</label>
<label class="currency">@this.explain_currencyvalue</label>

<div style="display:flex">
    <button class="button-number" @onclick="() => clickButton(7)">7</button>
    <button class="button-number" @onclick="() => clickButton(8)">8</button>
    <button class="button-number" @onclick="() => clickButton(9)">9</button>
</div>

<div style="display:flex">
    <button class="button-number" @onclick="() => clickButton(4)">4</button>
    <button class="button-number" @onclick="() => clickButton(5)">5</button>
    <button class="button-number" @onclick="() => clickButton(6)">6</button>
</div>

<div style="display:flex">
    <button class="button-number" @onclick="() => clickButton(1)">1</button>
    <button class="button-number" @onclick="() => clickButton(2)">2</button>
    <button class="button-number" @onclick="() => clickButton(3)">3</button>
</div>

<div style="display:flex">
    <button class="button-number" @onclick="clickClear">C</button>
    <button class="button-number" @onclick="() => clickButton(0)">0</button>
    <button class="button-number" @onclick="clickResult">=</button>
</div>

@code {

    private float DisplayValue { get; set; } = 0;
    private float Currency {get; set;}=0;
    private string CurrencyUnit { get; set; } = "\u20A9";
    private string explain_currencyvalue { get; set; } = " ";


    private void writeStatus()
    {
        Console.WriteLine($"DisplayValue[{this.DisplayValue}], currency[{this. Currency}]");
    }

    private void clickButton(int value)
    {
        DisplayValue = DisplayValue * 10 + value;
        writeStatus();
    }

    //환율 바꾸는거 보여주는거 API 요청(get) 미국달러만 가져오기 DisplayValue 바꿔주기.

    private void clickResult()
    {
        CurrencyUnit = "$";

        Currency = float.Parse(@getdata1.Rate.deal_bas_r.Replace(",", ""));

        explain_currencyvalue = $"   오늘의 환율은 1달러당 {@getdata1.Rate.deal_bas_r}원 입니다.";

        DisplayValue = DisplayValue / Currency;

        writeStatus();
    }

    private void clickClear()
    {
        DisplayValue = 0;
        CurrencyUnit = "\u20A9";
        writeStatus();
    }


}

