@inject CalcState calcState;

<button class="calc" @onclick="ClickButton">@DataValue</button>

@code {

    [Parameter]
    public string DataValue { get; set; } = "0";

    private void ClickButton()
    {
        calcState.clickButton(DataValue);
    }
}